## Get Started

In [1]:
from doddle import Doddle
doddle = Doddle()
scoreboard = doddle(answer='FLAME')
scoreboard

Soln=FLAME (4 guesses)

## Emoji outputs
Create beautiful emoji outputs to represent the game

In [2]:
emojis = scoreboard.emoji()
print(emojis)

Doddle 4/6

⬜🟨⬜⬜🟩
⬜🟩⬜⬜⬜
⬜⬜🟩⬜⬜
🟩🟩🟩🟩🟩

## Disable Lazy Evaluation for multiple solves
Lazy evaluation only scores words on demand. Disabling this feature results in slower initialisation but is materially faster (and recommended!) when multiple calls to Doddle are made.

In [3]:
doddle = Doddle(size=5, lazy_eval=False)

In [4]:
scoreboard = doddle(answer='FLAME') # Execution will be nearly instant now :D
scoreboard

Soln=FLAME (4 guesses)

## Play Multiple Games of Doddle Simultaneously

In [5]:
# Both the answer and guess can be either a string or a list of strings
scoreboard = doddle(answer=['FLAME','SNAKE','BLAST','CRAVE'], guess=['SHALE','IRATE'])
emojis = scoreboard.emoji()
print(emojis)

Doddle 7/9
6️⃣5️⃣
3️⃣7️⃣

⬜⬜🟩🟨🟩 🟩⬜🟩⬜🟩
⬜⬜🟩⬜🟩 ⬜⬜🟩⬜🟩
⬜🟩🟩⬜⬜ ⬜⬜🟩🟨⬜
⬜⬜⬜⬜🟩 ⬜⬜⬜⬜🟩
⬜⬜🟩⬜🟩 🟩🟩🟩🟩🟩
🟩🟩🟩🟩🟩 ⬛⬛⬛⬛⬛

🟨⬜🟩🟨⬜ ⬜⬜🟩⬜🟩
⬜⬜🟩🟨⬜ ⬜🟩🟩⬜🟩
🟩🟩🟩🟩🟩 ⬜⬜🟩⬜⬜
⬛⬛⬛⬛⬛ ⬜⬜⬜⬜🟩
⬛⬛⬛⬛⬛ ⬜⬜🟩⬜🟩
⬛⬛⬛⬛⬛ ⬜⬜🟩⬜🟩
⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩

In [6]:
scoreboard

Soln=FLAME (21 guesses)

In [7]:
# Access a single scoreboard
scoreboards = scoreboard.many()
scoreboards[2]

Soln=BLAST (3 guesses)