## Get Started
To get started, simply import `Doddle` from `doddle`. The constructor provides sensible defaults:
 - assumed word size of 5
 - minimax solver
 - depth 1 search
 
 The scoreboard object renders as custom HTML. When games are played simultaneously, the scoreboard adds dividers to visually distinguish each round.

In [1]:
from doddle import Doddle
doddle = Doddle()
scoreboard = doddle(answer='FLAME')
scoreboard

Soln=FLAME (4 guesses)

## Emoji outputs
Create beautiful emoji outputs to represent the game

In [2]:
emojis = scoreboard.emoji()
print(emojis)

Doddle 4/6

⬜🟨⬜⬜🟩
⬜🟩⬜⬜⬜
⬜⬜🟩⬜⬜
🟩🟩🟩🟩🟩

## Disable Lazy Evaluation for multiple solves
Lazy evaluation only scores words on demand. Disabling this feature results in slower initialisation but is materially faster (and recommended!) when multiple calls to Doddle are made.

In [3]:
doddle = Doddle(size=5, lazy_eval=False)

In [4]:
scoreboard = doddle(answer='FLAME') # Execution will be nearly instant now :D
scoreboard

Soln=FLAME (4 guesses)

## Play Multiple Games of Doddle Simultaneously

In [5]:
# Both the answer and guess can be either a string or a list of strings
scoreboard = doddle(answer=['SEPIA','PADDY','ABOUT','GUMBO','LOFTY','GIVER','SLUSH','SHIRK'])
emojis = scoreboard.emoji()
print(emojis)

Doddle 11/13
2️⃣4️⃣5️⃣🔟
6️⃣🕚7️⃣8️⃣

⬜🟨🟨🟨🟨 ⬜🟩⬜⬜⬜ ⬜🟨⬜⬜⬜ ⬜⬜⬜⬜⬜
🟩🟩🟩🟩🟩 ⬜⬜🟨⬜🟨 ⬜⬜⬜⬜🟨 ⬜⬜⬜⬜⬜
⬛⬛⬛⬛⬛ ⬜⬜⬜⬜🟩 ⬜⬜🟨🟨⬜ ⬜⬜🟨⬜⬜
⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩 ⬜🟨⬜⬜⬜ ⬜⬜⬜⬜⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩 ⬜🟨🟨🟨⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬜🟨⬜⬜⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬜⬜🟨⬜⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬜⬜⬜⬜⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ 🟨⬜⬜🟨⬜
⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩

⬜⬜⬜⬜⬜ 🟨⬜🟨⬜🟨 ⬜⬜⬜🟩⬜ 🟨⬜🟩🟨⬜
⬜⬜⬜⬜⬜ ⬜🟨⬜🟨⬜ 🟩⬜⬜⬜⬜ 🟩⬜⬜🟨⬜
🟨🟨⬜🟩🟩 ⬜⬜⬜⬜⬜ ⬜🟩🟩⬜⬜ ⬜⬜⬜⬜⬜
⬜⬜⬜⬜🟩 ⬜⬜⬜⬜⬜ ⬜⬜⬜⬜⬜ ⬜⬜⬜⬜⬜
⬜⬜🟨⬜🟨 ⬜⬜⬜⬜⬜ ⬜⬜⬜🟨⬜ ⬜⬜⬜⬜⬜
🟩🟩🟩🟩🟩 ⬜⬜⬜⬜⬜ 🟨⬜⬜⬜⬜ ⬜⬜⬜⬜⬜
⬛⬛⬛⬛⬛ ⬜⬜⬜⬜⬜ 🟩🟩🟩🟩🟩 🟩⬜⬜⬜🟨
⬛⬛⬛⬛⬛ ⬜⬜🟨🟨⬜ ⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩
⬛⬛⬛⬛⬛ ⬜🟩⬜🟨🟨 ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛
⬛⬛⬛⬛⬛ 🟩⬜⬜⬜⬜ ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛
⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩 ⬛⬛⬛⬛⬛ ⬛⬛⬛⬛⬛

In [6]:
scoreboard

Soln=SEPIA (53 guesses)

In [7]:
# Access a single scoreboard
scoreboards = scoreboard.many()
scoreboards[2]

Soln=ABOUT (5 guesses)