In [1]:
from doddle import Doddle
doddle = Doddle(size=5, lazy_eval=False)

In [3]:
scoreboard = doddle(answer='SNAKE', guess=['LIGHT'])
print(scoreboard.summary())
scoreboard.df()

Doddle 4/6

â¬œâ¬œâ¬œâ¬œâ¬œ
â¬œðŸŸ¨ðŸŸ¨ðŸŸ¨â¬œ
â¬œâ¬œðŸŸ¨â¬œðŸŸ©
ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©

    Soln  Guess  Score  Poss
1  SNAKE  LIGHT  â¬œâ¬œâ¬œâ¬œâ¬œ   532
2  SNAKE  RASED  â¬œðŸŸ¨ðŸŸ¨ðŸŸ¨â¬œ     9
3  SNAKE  BUNCE  â¬œâ¬œðŸŸ¨â¬œðŸŸ©     1
4  SNAKE  SNAKE  ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©     1