In [1]:
from doddle import Doddle
doddle = Doddle(size=5, lazy_eval=False)

In [8]:
scoreboard = doddle(answer=['QUERY'])
emojis = scoreboard.emoji()
print(emojis)

Doddle 3/6

ðŸŸ¨â¬œâ¬œâ¬œðŸŸ¨
â¬œðŸŸ©â¬œðŸŸ¨ðŸŸ¨
ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©

In [9]:
scoreboard.df()

    Soln  Guess  Score  Poss
1  QUERY  RAISE  ðŸŸ¨â¬œâ¬œâ¬œðŸŸ¨   102
2  QUERY  OUTER  â¬œðŸŸ©â¬œðŸŸ¨ðŸŸ¨     1
3  QUERY  QUERY  ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©     1