In [1]:
from doddle import Doddle
doddle = Doddle(size=5, lazy_eval=False)

In [26]:
scoreboard = doddle(answer=['QUERY', 'DEBAR', 'DEPOT', 'NUTTY'])
emojis = scoreboard.emoji()
print(emojis)

Doddle 7/9
4️⃣5️⃣
6️⃣7️⃣

🟨⬜⬜⬜🟨 🟨🟨⬜⬜🟨
⬜⬜⬜🟨⬜ ⬜⬜⬜🟨🟨
⬜🟩⬜⬜🟩 🟨⬜⬜⬜⬜
🟩🟩🟩🟩🟩 ⬜⬜🟨🟨⬜
⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩

⬜⬜⬜⬜🟨 ⬜⬜⬜⬜⬜
🟨🟨⬜🟨🟨 🟨⬜⬜⬜⬜
⬜⬜⬜🟨⬜ ⬜🟩⬜⬜🟩
⬜⬜🟨⬜⬜ ⬜🟩⬜⬜🟩
🟩🟩⬜⬜⬜ ⬜⬜⬜⬜⬜
🟩🟩🟩🟩🟩 ⬜⬜⬜⬜🟨
⬛⬛⬛⬛⬛ 🟩🟩🟩🟩🟩

In [27]:
scoreboard.df()

    Soln  Guess  Score  Poss
1  QUERY  RAISE  🟨⬜⬜⬜🟨   102
1  DEBAR  RAISE  🟨🟨⬜⬜🟨    34
1  DEPOT  RAISE  ⬜⬜⬜⬜🟨   121
1  NUTTY  RAISE  ⬜⬜⬜⬜⬜   168
2  QUERY  TOLED  ⬜⬜⬜🟨⬜    11
2  DEBAR  TOLED  ⬜⬜⬜🟨🟨     3
2  DEPOT  TOLED  🟨🟨⬜🟨🟨     2
2  NUTTY  TOLED  🟨⬜⬜⬜⬜     5
3  QUERY  BUMPY  ⬜🟩⬜⬜🟩     1
3  DEBAR  BUMPY  🟨⬜⬜⬜⬜     1
3  DEPOT  BUMPY  ⬜⬜⬜🟨⬜     1
3  NUTTY  BUMPY  ⬜🟩⬜⬜🟩     1
4  QUERY  QUERY  🟩🟩🟩🟩🟩     1
4  DEBAR  QUERY  ⬜⬜🟨🟨⬜     1
4  DEPOT  QUERY  ⬜⬜🟨⬜⬜     1
4  NUTTY  QUERY  ⬜🟩⬜⬜🟩     1
5  DEBAR  DEBAR  🟩🟩🟩🟩🟩     1
5  DEPOT  DEBAR  🟩🟩⬜⬜⬜     1
5  NUTTY  DEBAR  ⬜⬜⬜⬜⬜     1
6  DEPOT  DEPOT  🟩🟩🟩🟩🟩     1
6  NUTTY  DEPOT  ⬜⬜⬜⬜🟨     1
7  NUTTY  NUTTY  🟩🟩🟩🟩🟩     1