In [2]:
from doddle import Doddle
doddle = Doddle(size=5, lazy_eval=False)

In [3]:
scoreboard = doddle(answer=['SHACK', 'SPARK'])
emojis = scoreboard.emoji()
print(emojis)

Doddle 5/7
4️⃣
5️⃣

⬜🟨⬜🟨⬜
🟨⬜🟩⬜⬜
🟨⬜⬜🟨⬜
🟩🟩🟩🟩🟩

🟨🟨⬜🟨⬜
⬜⬜🟩🟨⬜
🟨⬜⬜⬜⬜
🟩⬜🟩⬜🟩
🟩🟩🟩🟩🟩

In [4]:
scoreboard

Soln=SHACK (9 guesses)